DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=kakzheYaZaebalsyaSEtoyEbanoyUcheboySukaPolkovnikuNiktoNePishetNahuy
JWT_SECRET_REFRESH=kakzheYaZaebalsyaSEtoyEbanoyUcheboySukaPolkovnikuNiktoNePishetNahuy
